<% months = %w[Jan Feb Mar Apr May Jun Jul Aug Sep Oct Now Dec] %>
<% months_values = (1..12).to_a %>
<% months_with_values = months.zip(months_values) %>
<% years = (2000..2050).to_a %>
<% if params[:month] %>
  <% default_month = params[:month].to_i %>
  <% default_year = params[:year].to_i %>
<% else %>
  <% default_month = Time.now.month %>
  <% default_year = Time.now.year %>
<% end %>


<div class="container my-3">
  <%= simple_form_for @payslip do |f| %>
    <%= f.input :month, label: 'Salary for month', collection: months_with_values, selected: default_month %>
    <%= f.input :year, label: 'Year', collection: years, selected: default_year %>
    <%= f.input :amount, label: 'Amount received' %>
    <%= f.input :payment_method, as: :radio_buttons, collection: ["bank transfer", "cash", "bank transfer and cash"] %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: 'Photo of payslip or bank statement' %>
    <%= f.submit 'Save', class: 'btn btn-primary btn-block' %>
  <% end %>
</div>
