<!DOCTYPE html>
<html>

<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>

<body>
  <h2>Accident info for <%= @user.name %></h2>
  <p><strong>Date:</strong><br><%= @accident.date.strftime("%d %b %Y") %></p>
  <p><strong>Time:</strong><br><%= @accident.time.strftime("%k:%M")%></p>
  <p><strong>Description:</strong><br><%= @accident.description%></p>
  <p><strong>Part injured:</strong><br><%= @accident.injured_part%></p>
  <p><strong>Place of Treatment:</strong><br><%= @accident.medical_facility%><br>
    <% if @accident.medical_facility == 'None' || nil %>
    <small style="color:red;">*Employer should have sought proper medical care*</small>
    <% end %>
  </p>
  <p>
    <strong>Treatment was paid by employer:</strong><br><%= @accident.paid_by_employer ? 'Yes' : 'No' %> <br>
    <% unless @accident.paid_by_employer %>
    <small style="color:red;">*Employer should have paid*</small>
    <% end %>
  </p>
  <p>
    <strong>No. of MC days:</strong><br><%= @accident.mc_days %><br>
      <% if @accident.mc_days == 0 || nil %>
      <small style="color:red;">*MC should have been given*</small>
      <% end %>
  </p>
  <% @accident.photos.each do |photo| %>
  <%= cl_image_tag photo.key, flags: 'attachment', height: 200 %>
  <% end %>
</body>

</html>
