 <div class="container my-3 " style="padding-bottom:180px;">
   <div class="accordion" id="accordionExample">
    <% @articles.each do |article| %>
    <div class="card">
      <div class="card-header" id="heading<%= article.id %>">
        <h5 class="mb-0">
          <button class="btn btn-link text-white collapsed text-left" type="button" data-toggle="collapse" data-target="#collapse<%= article.id %>" aria-expanded="true" aria-controls="collapse<%= article.id %>">
            <%= article.title %>
          </button>
        </h5>
      </div>

      <a id="article<%= article.id %>">
      <div id="collapse<%= article.id %>" class="collapse" aria-labelledby="heading<%= article.id %>" data-parent="#accordionExample">
        <div class="card-body text-left">
         <%= article.content %>
        </div>
      </div>
      </a>
    </div>

    <% end %>
  </div>
  </div>


