<%= turbo_frame_tag "edit-profile" do %>
<div class="container" id="capture">
  <div class="bg-secondary mt-5 d-flex w-100 justify-content-between align-items-center" style="height:5px">
    <div class="bg-dark rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="align-middle">1</p>  </div>
    <div class="bg-primary rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="text-secondary">2</p> </div>
    <div class="bg-dark rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="text-secondary">3</p> </div>
  </div>
  <br><br>
  <h2 class ="text-center">Record details of your contract</h2>
  <div>
    <%= simple_form_for current_user, url: 'contract_update' do |f| %>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#ipa" role="tab" aria-controls="home" aria-selected="true">Upload IPA Photo</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="ipa" role="tabpanel" aria-labelledby="home-tab">
        <%= f.input :ipa_photo%>
    </div>
  </div>

  <%= f.button :submit, class: 'btn btn-primary btn-block', value: 'Upload' %>
  <% end %>

  <%= link_to 'Skip', personal_details_path, class: 'btn btn-secondary btn-block my-3' %>
  <% end %>
</div>

</div>

</div>
