<%= turbo_frame_tag "edit-profile" do %>
<div class="container" id="capture">
  <div class="bg-secondary mt-5 d-flex w-100 justify-content-between align-items-center" style="height:5px">
    <div class="btn-green rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="align-middle text-white">1</p>  </div>
    <div class="btn-green rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="text-white">2</p> </div>
    <div class="bg-dark rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="text-secondary">3</p> </div>
  </div>
  <br><br>
  <h2 class ="text-center">Photo of your IPA</h2>
  <%= simple_form_for current_user, url: 'contract_update' do |f| %>
    <%= f.input :ipa_photo, label: 'This document is important for checking your salary and making claims.' %>
    <%= f.button :submit, class: 'btn btn-blue btn-block text-white', value: 'Upload' %>
  <% end %>

  <%= link_to 'Skip', personal_details_path, class: 'btn btn-outline-primary text-primary btn-block my-3' %>
  <% end %>
</div>

</div>

</div>
