<%= turbo_frame_tag 'edit-profile' do %>
<div class="container">
  <div class="bg-secondary mt-5 d-flex w-100 justify-content-between align-items-center" style="height:5px">
    <div class="btn-green rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="align-middle text-white">1</p>  </div>
    <div class="btn-green rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="text-white">2</p> </div>
    <div class="btn-green rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px"> <p class="text-white">3</p> </div>
  </div>
  <br><br>
  <h2 class ="text-center text-blue">Personal details</h2>
  <%= simple_form_for current_user, url: 'personal_update', data: { turbo_frame: '_top' } do |f| %>
  <%= f.input :name %>
  <%= f.input :basic_salary, label: 'Basic Monthly Salary (in SGD)',
    hint: "This is used to calculate your hourly pay, overtime pay and pay on rest days." %>
  <%= f.button :submit, class: 'btn btn-blue btn-block text-white', value: 'Submit' %>
  <% end %>
  <%= link_to 'Back', :back, class: 'btn btn-outline-primary text-primary btn-block my-3' %>
</div>
  <% end %>

