<div class="container scrollable">
  <h1 class="text-center pt-3">Your files</h1>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="worklog-tab" data-toggle="tab" href="#worklog" role="tab" aria-controls="worklog" aria-selected="true">Worklogs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="salary-tab" data-toggle="tab" href="#salary" role="tab" aria-controls="salary" aria-selected="false">Salary</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="accident-tab" data-toggle="tab" href="#accident" role="tab" aria-controls="accident" aria-selected="false">Accidents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="contract-tab" data-toggle="tab" href="#contract" role="tab" aria-controls="contract" aria-selected="false">IPA</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="worklog" role="tabpanel" aria-labelledby="worklog-tab">

      <% @workdays.each_pair do |key, value| %>
      <button class="btn btn-secondary btn-block dropdown-toggle file" type="button" data-toggle="collapse" data-target="#<%= key.strftime("%B_%Y") %>" aria-expanded="false" aria-controls="worklog_<%= key.strftime("%B_%Y") %>">
        Worklog for <%= key.strftime("%B, %Y") %>
      </button>
      <div class="collapse" id="<%= key.strftime("%B_%Y") %>">
        <div class="card card-body">
          <%= turbo_frame_tag "worklog_email" do %>
          <div class="container border my-3 py-3">
            <h4>Email log as csv</h4>
            <form action="/workdays/send" method="post" id="log<%= key.strftime("%B_%Y") %>">
              <label for="email">Email address:</label><br>
              <input list="organisations" id="email" name="email" class="w-100" autocomplete="off">
              <datalist id="organisations">
                <option value="sip@mwc.org.sg">Migrant Workers Centre</option>
                <option value="info@mysite.com">SG Accident Help Center</option>
                <option value="info@twc2.org.sg">Transient Workers Count too</option>
                <option value="nurezlia@home.org.sg">HOME</option>
                <option value="info@healthserve.org.sg">Health Serve</option>
              </datalist>
              <input type="hidden" name="log_key" value="<%= key %>">
              <button type="submit" form="log<%= key.strftime("%B_%Y") %>" value="Submit" class="btn btn-success mt-2 text-white">Send Email</button>
            </form>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>

    </div>
    <div class="tab-pane fade" id="salary" role="tabpanel" aria-labelledby="salary-tab">
      <% @payslips.each_with_index do |payslip, index| %>
      <button class="btn btn-secondary btn-block dropdown-toggle file" type="button" data-toggle="collapse" data-target="#payslip_<%= index %>" aria-expanded="false" aria-controls="payslip_<%= index %>">
        <%= Date::MONTHNAMES[payslip.month] %> <%= payslip.year %>
      </button>
      <div class="collapse" id="payslip_<%= index %>">
        <div class="card card-body">
          <p>Amount: <%= payslip.amount  %></p>
          <p>Paid by: <%= payslip.payment_method %></p>
          <% payslip.photos.each do |photo| %>
          <%= cl_image_tag photo.key, crop: :fit, height: 100 %>
          <% end %>
          <%= turbo_frame_tag "payslip_email" do %>
          <div class="container border my-3 py-3">
            <h4>Send payslip details as email</h4>
            <form action="/payslips/send" method="post" id="payslip<%= payslip.id %>">
              <label for="email">Email address:</label><br>
              <input list="organisations" id="email" name="email" class="w-100" autocomplete="off">
              <datalist id="organisations">
                <option value="sip@mwc.org.sg">Migrant Workers Centre</option>
                <option value="info@mysite.com">FF</option>
                <option value="info@twc2.org.sg">Transient Workers Count too</option>
                <option value="nurezlia@home.org.sg">HOME</option>
                <option value="info@healthserve.org.sg">Health Serve</option>
              </datalist><br>
              <input type="hidden" name="payslip_id" value="<%= payslip.id %>">
              <button type="submit" form="payslip<%= payslip.id %>" value="Submit" class="btn btn-success mt-2 text-white">Send Email</button>
            </form>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="accident" role="tabpanel" aria-labelledby="accident-tab">
      <% @accidents.each_with_index do |accident, index| %>
      <button class="btn btn-secondary btn-block dropdown-toggle file" type="button" data-toggle="collapse" data-target="#accident_<%= index %>" aria-expanded="false" aria-controls="accident_<%= index %>">
        <%= accident.injured_part %> injury on <%= accident.date.strftime("%d %b %Y") %>
      </button>
      <div class="collapse" id="accident_<%= index %>">
        <div class="card card-body accident">
          <p><strong>Date:</strong><br><%= accident.date.strftime("%d %b %Y") %></p>
          <p><strong>Time:</strong><br><%= accident.time.strftime("%k:%M")%></p>
          <p><strong>Description:</strong><br><%= accident.description%></p>
          <p><strong>Part injured:</strong><br><%= accident.injured_part%></p>
          <p><strong>Place of Treatment:</strong><br><%= accident.medical_facility%><br>
            <% if accident.medical_facility == 'None' || nil %>
            <small class="text-danger">*Boss should have brought you to medical facility*</small>
            <% end %>
          </p>
          <p>
            <strong>Treatment was paid by boss:</strong><br><%= accident.paid_by_employer ? 'Yes' : 'No' %> <br>
            <% unless accident.paid_by_employer %>
            <small class="text-danger">*Boss should have paid*</small>
            <% end %>
          </p>
          <p>
            <strong>No. of MC days:</strong><br><%= accident.mc_days %><br>
            <% if accident.mc_days == 0 || nil %>
            <small class="text-danger">*MC should have been given*</small>
            <% end %>
          </p>
          <p>Attached photos: <%= accident.photos.count %></p>
          <div class="d-flex">
            <% accident.photos.each do |photo| %>
            <%= cl_image_tag photo.key, height: 100, crop: :fit %>
            <% end %>
          </div>

          <%= turbo_frame_tag "email" do %>
          <div class="border p-3 my-3">
            <h4>Send the report as an email</h4>
            <form action="/accidents/send" method="post">
              <label for="email">Email address:</label><br>
              <input list="organisations" id="email" name="email" class="w-100" autocomplete="off">
              <datalist id="organisations">
                <option value="sip@mwc.org.sg">Migrant Workers Centre</option>
                <option value="info@mysite.com">SG Accident Help Center</option>
                <option value="info@twc2.org.sg">Transient Workers Count too</option>
                <option value="nurezlia@home.org.sg">HOME</option>
                <option value="info@healthserve.org.sg">Health Serve</option>
              </datalist><br>
              <input type="hidden" name="accident_id" value="<%= accident.id %>">
              <%= button_to "Send Email", accidents_send_path(@accident), class: 'btn btn-success mt-2 text-white' %>
            </form>
          </div>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
    <div class="tab-pane fade" id="contract" role="tabpanel" aria-labelledby="contract-tab">
      <div class="py-3">
        <% if @user.ipa_photo %>
        <%= cl_image_tag @user.ipa_photo.key, crop: :fit, height: 100 %>
        <% end %>
      </div>
      <%= turbo_frame_tag "ipa_email" do %>
      <div class="container border my-3 py-3">
        <h4>Send IPA as email</h4>
        <form action="/users/send" method="post" id="ipa">
          <label for="email">Email address:</label><br>
          <input list="organisations" id="email" name="email" class="w-100" autocomplete="off">
          <datalist id="organisations">
            <option value="sip@mwc.org.sg">Migrant Workers Centre</option>
            <option value="info@mysite.com">SG Accident Help Centre</option>
            <option value="info@twc2.org.sg">Transient Workers Count too</option>
            <option value="nurezlia@home.org.sg">HOME</option>
            <option value="info@healthserve.org.sg">Health Serve</option>
          </datalist><br>
          <button type="submit" form="ipa" value="Submit" class="btn btn-success mt-2 text-white">Send Email</button>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</div>
