<%= turbo_frame_tag :accident do %>
<div class="accident">
  <h2>Review your information</h2>
  <p><strong>Date:</strong><br><%= @accident.date.strftime("%d %b %Y") %></p>
  <p><strong>Time:</strong><br><%= @accident.time.strftime("%k:%M")%></p>
  <p><strong>Description:</strong><br><%= @accident.description%></p>
  <p><strong>Part injured:</strong><br><%= @accident.injured_part%></p>
  <p><strong>Place of Treatment:</strong><br><%= @accident.medical_facility%><br>
    <% if @accident.medical_facility == 'None' || nil %>
    <small class="text-danger">*Boss should have brought you to medical facility*</small>
    <% end %>
  </p>
  <p>
    <strong>Treatment was paid by boss:</strong><br><%= @accident.paid_by_employer ? 'Yes' : 'No' %> <br>
    <% unless @accident.paid_by_employer %>
    <small class="text-danger">*Boss should have paid*</small>
    <% end %>
  </p>
  <p>
    <strong>No. of MC days:</strong><br><%= @accident.mc_days %><br>
    <% if @accident.mc_days == 0 || nil %>
    <small class="text-danger">*MC should have been given*</small>
    <% end %>
  </p>
  <p>Attached photos: <%= @accident.photos.count %></p>
  <div class="d-flex">
    <% @accident.photos.each do |photo| %>
    <%= cl_image_tag photo.key, crop: :fit, height: 100 %>
    <% end %>
  </div>
</div>
<%= turbo_frame_tag "email" do %>
<div class="container py-3 my-3 border rounded bg-white">
  <h4>Send the report as an email</h4>
  <form action="/accidents/send" method="post">
    <label for="email">Email address:</label><br>
    <input list="organisations" id="email" name="email" class="w-100" autocomplete="off">
    <datalist id="organisations">
      <option value="sip@mwc.org.sg">Migrant Workers Centre</option>
      <option value="info@mysite.com">SG Accident Help Centre</option>
      <option value="info@twc2.org.sg">Transient Workers Count too</option>
      <option value="nurezlia@home.org.sg">HOME</option>
      <option value="info@healthserve.org.sg">Health Serve</option>
    </datalist><br>
    <input type="hidden" name="accident_id" value="<%= @accident.id %>">
    <%= button_to "Send Email", accidents_send_path(@accident), class:'btn btn-success mt-2 text-white' %>
  </form>
</div>
<% end %>

<%= link_to 'Confirm and go to home', accidents_confirm_path, class: 'btn btn-block btn-primary', data: { turbo: false }  %>
<%= link_to "Edit", new3_accident_path(@accident), class: 'btn btn-block btn-warning mb-3' %>
<% end %>
