<%= turbo_frame_tag "accident" do %>
<div class="bg-secondary mt-3 mb-5 d-flex w-100 justify-content-between align-items-center" style="height:5px">
  <div class="bg-primary rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px">
    <p class="align-middle text-white">1</p>
  </div>
  <div class="bg-primary rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px">
    <p class="text-white">2</p>
  </div>
  <div class="bg-dark rounded-circle text-center" style="height: 50px; width: 50px; line-height: 50px">
    <p class="text-secondary">3</p>
  </div>
</div>
<%= simple_form_for @accident do |f| %>
<%= f.input :injured_part %>
<%= f.input :medical_facility, as: :select, collection: ['None', 'Alexandria Hospital', 'Changi General Hospital', 'Khoo Teck Puat Hospital', 'National Skin Centre', 'National University Hospital', 'Ng Teng Fong General Hospital', 'Singapore General Hospital', 'Singapore National Eye Centre', 'Tan Tock Seng Hospital'] %>
<%= f.submit 'Next', class: 'btn btn-block btn-primary mb-3' %>
<% end %>
<%= link_to "Back", new_accident_path(@accident), class: 'btn btn-block btn-warning' %>
<% end %>
