<div class="container my-3" id='workday-form-dates' data-completed-dates='<%= @workdays_dates.to_json %>'>
  <p style="text-align: center;">Keep track of your work hours so that your boss cannot undercut you.</p>
  <%= turbo_frame_tag 'workday_form' do %>
    <%= simple_form_for(@workday, data: { turbo_frame: '_top' }) do |f| %>
      <%= f.input :date, as: :string, type: :text %>
      <%= f.input :start_time, as: :time, label: 'I am starting work at', minute_step: 5, default: @default_start_time  %>
      <%= f.input :end_time, as: :time, label: 'I will end work at', minute_step: 5, default: @default_end_time %>
      <%= f.button :submit, 'Log my work hours', class: 'btn btn-block btn-primary' %>
    <% end %>
    <br>
    <a href="/workdays/on_leave" class="btn btn-block btn-warning">I am not working today</a>
  <% end %>
</div>

