<%= turbo_frame_tag 'workday_form', target: '_top' do %>
  <div data-controller="workday">
    <%= simple_form_for(@workday, data: { turbo_frame: '_top' }) do |f| %>
      <%= f.input :date, as: :string, type: :text %>
      <%= f.input :on_rest, label: 'It is my rest day' %>
      <%= f.input :on_mc, label: 'I am on MC' %>
      <%= f.button :submit, 'Save', class: 'btn btn-primary' %>
    <% end %>
  </div>
<% end %>
